services:
  mongo:
    image: mongo:7
    container_name: sl_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: sl_rabbit
    restart: always
    ports:
      - "5672:5672"  
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mysql:
    image: mysql:8.1
    container_name: sl_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123 
      MYSQL_DATABASE: sentinel_log          
      MYSQL_USER: user                     
      MYSQL_PASSWORD: user123              
    ports:
      - "3306:3306" 
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mongo_data:
  rabbitmq_data:
  mysql_data: